* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}
body {
    width: 800px;
    margin: 0em auto;
}

header h1 {
    font-size: 50px;
    margin: 0px;
    color: #006;
}

header h2 {
    font-size: 15px;
    margin: 0px;
    color: #99f;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: block;
    clear: right;
    background-color: #99f;
    padding-left: 4px;
    height: 24px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    height: 24px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #006;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 40px;
    float: left;
    margin-left: 14px;
}

article > header h1 a {
    color: #000090;
    text-decoration: none;
}

article > section header h1 {
    font-size: 20px;
    margin-left: 25px;
}

article p {
    clear: both;
    margin-top: 0px;
    margin-left: 50px;
}

article p.next-to-aside {
    width: 500px;
}

article >  section figure {
    margin-left: 180px;
    margin-bottom: 30px;
}

article > section > menu { 
    margin-left: 120px;
}    

aside p { 
        position:relative;
        left:0px;
        top: -100px;
        z-index: 1;
        width: 200px; 
        float: right;
        font-style: italic;
        color: #99f;
}

article > section video {
    height: 200px;
    margin-left: 180px;
}   
article > section div.no-html5-video{
    height: 20px;
    text-align: center;
    color: #000090;
    font-size: 13px;
    font-style: italic;
    font-weight: bold ;
    background-color: #99f;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 24px;
}